@model Invoice_Project_MVC.Models.tbl_invoice_details
@{
    ViewBag.Title = "ViewInvoice";
    Layout = "~/Views/Shared/Invoice_Layout.cshtml";
}

<h2>View Invoice</h2>
<table class="table table-bordered">
    <tbody>
        <tr>
            <td colspan="2" style="text-align:center">

                <img src="~/images/logo.png" style="height:150px" />
                <h2 style="text-align:center">!! Customer Invoice !!</h2>
            </td>
        </tr>
        <tr>
            <td style="text-align:right"><p><h4>Made By Ganesh Shid </h4></p></td>
        </tr>
    </tbody>
</table>
<hr/>
<table class="table table-bordered">
    
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Item</th>
            <th>Rate</th>
            <th>Tax</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1;}
        @foreach(var item in Model.tbl_invoice_products)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.tbl_products.product_name</td>
                    <td>@item.tbl_products.rate</td>
                    <td>@item.tbl_products.tax</td>
                    <td>@item.purchase_quantity</td>
                    <td>
                        @{ 
                                float rate = (float)item.tbl_products.rate;
                                float tax =(float) item.tbl_products.tax;
                            
                                float total = (float)(rate + (rate * tax /100))* (float) item.purchase_quantity;
                            }
                        @total
                    </td>


                </tr>
            i++;
        }
    </tbody>



</table>




















